<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="fontawesome-free-5.15.4-web/css/all.css">
  <link rel="stylesheet" href="css/style.css">
  <title>About Us - AMRITA VISHWA VIDYAPEETHAM</title>
</head>

<body>
  <!-- HEADER SECTION -->
  <header>
    <div class="p-1" id="topHeader">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <a class="p-1" href="tel:+91 (422) 2685 000"> <i class="fas fa-phone"></i> +91 (422) 2685 000 </a>
            <a class="p-1" href="mailto:btech@amrita.edu"> <i class="fas fa-envelope"></i> btech@amrita.edu </a>
          </div>
        </div>
      </div>
    </div>
    <div id="bottomHeader">
      <div class="container-fluid" id="hdr">
        <nav class="navbar navbar-dark navbar-expand-md" style="background-color:#004d80;">
          <a class="navbar-brand" href="default.html">
            <img src="imgs/logo.png" width="250px" alt="logo">
          </a>
          <button data-toggle="collapse" data-target="#navbarToggler" type="button" class="navbar-toggler"><span
              class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="default.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="course.html">Course</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="admission.html">Admission</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="about.html">About Us</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">More</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="contact.html">Contact</a>
                  <a class="dropdown-item" href="event.html">Events</a>
                  <a class="dropdown-item" href="gallery.html">Gallery</a>
                </div>

              </li>
            </ul>
          </div>
        </nav>

      </div>
    </div>

  </header>
  <!-- END OF HEADER SECTION -->

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="default.html">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">About Us</li>
    </ol>
</nav>



<!-- Page title -->

<section class="pagetitle">
    <div class="container-fluid my-3">
        <div class="row">
            <div class="col-12 text-center">
                <h1 id="pt">
                    ABOUT THE CAMPUS
                </h1>
            </div>
        </div>
    </div>
</section>


  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <p><img style="margin-top: 25px;" width="100%" alt="coimbatore-campus" src="imgs/campus-ettimadai.jpg" /></p>

        <p>The beginnings of Amrita Vishwa Vidyapeetham can be traced to 1994 when a School of Engineering was started
          in an obscure village named Ettimadai, at the foothills of Bouluvanpatty ranges of the Western Ghats in the
          Coimbatore district of Tamil Nadu.</p>

        <p>When Amrita became a “deemed to be University” in January 2003, it was the youngest group of institutions to
          be conferred this status. As Amrita's first campus, Coimbatore is home to the administrative headquarters of
          Amrita Vishwa Vidyapeetham.<br /><br />
          Schools of Engineering and Business, in addition to Departments of Social Work and Communication, are located
          on this campus. Research centers include AMBE, CEN, CES and Cybersecurity. The campus has nearly 3500 students
          and about 600 faculty and staff members.<br /><br /></p>

          <hr class="bodyhr">


        <h2>Research</h2><br />
        <p><img width="100%" src="imgs/research-centres.jpg" /></p>
        <p>Amrita Vishwa Vidyapeetham is a world class, research intensive institution with national and international
          reputation as an educational institution providing higher education in an ambience rooted in rich Indian
          culture and heritage. Based in the Coimbatore campus, the research centers are envisioned as a platform to
          encourage and enhance research among the faculty of Amrita Schools of Business, Communication, Engineering and
          Social Work.</p>

        <p><a class="btn btn-outline-primary" style="border-color: #004d80;" href="research.html">Research at Amrita
            »»</a></p><br />

            <hr class="bodyhr" style="margin-top: 20px; margin-bottom: 30px; ">


        <h2>Campus Life - <em style="font-weight: normal;">Join Our Students on a Day Out!</em></h2>

        <p><em>To understand campus life through the eyes of a student, read a student's account of daily experiences
            and memories.</em></p>

        <p><img width="100%" alt="campus-coimbatore-about-campus-life" style="margin: 20px 0px;" src="imgs/students-activities-cbr.jpg" /></p>

        <p>"My life at Amrita has etched such subtle memories that it has been difficult realize the impact during my
          actual process as a student during a four year course. I know, however, that years later I will reflect and
          cherish the opportunities I gained. At one of the most crucial and formative stages of my life, I consider
          myself most fortunate to be exposed to such a richly, multifaceted and educative influence. I know that I am
          evolving in a way that determines my future positively; our campus offers a diverse, dynamic platform for
          personality development.</p>

        <p>Amrita's world-class infrastructure furnishes us with highly equipped laboratories, a state-of-the-art PARAM
          10000 supercomputer, very stable and well connected campus networks, a rich intranet digital library, a
          marvelous library with a large collection of books and journals, vast recreational facilities, a modern
          gymnasium, well-maintained tennis, badminton and basketball courts and an Olympic-size swimming pool. As
          students we take pride in the fact that we can effectively utilize these advantages for our optimum
          development.</p>

        <p><img width="100%" alt="campus-coimbatore-about-campus-life" style="margin: 20px 0px;" src="imgs/yoga-cbr.jpg" /></p>

        <p>Extracurricular activities at Amrita such as organizing campus programs, running errands to seek approvals
          and permissions, hostel duties and assignments and walks on the campus grounds are a few of my warm, lasting
          memories. Many of these activities, in addition to being enjoyable, contribute towards the blossoming of one's
          personality, as they involve valuable interaction with various people at various levels, and can hone one's
          managerial skills. In some cases, extracurricular activities have given me the opportunity to meet eminent
          personalities who visit the campus as honoured guests.</p>

        <p>Amrita is an educational experience to look forward to for those joining, and a place to remember dearly, for
          those leaving. This unparalled experience leaves an indelible mark of joy and growth on any person who treads
          the Amrita path."</p><br />
      </div>

      <div class="col-sm-3">

        <h3 style="margin-top: 25px; text-align: center;">Student Clubs</h3><br />

        <div class="row">
          <figure class="col-xs-6 col-sm-12 col-md-12 text-center"><a href="student-clubs.html#anantham"><img
                width="120px" height="120px" alt="anantham" src="imgs/anantham.png" /></a>
            <figcaption><a style="font-size: larger;" href="student-clubs.html#anantham">Anantham</a></figcaption>
          </figure>

          <figure class="col-xs-6 col-sm-12 col-md-12 text-center"><a href="student-clubs.html#arya"><img width="120px"
                height="120px" alt="arya" src="imgs/arya.jpg" /></a>
            <figcaption><a style="font-size: larger;" href="student-clubs.html#arya">Arya</a></figcaption>
          </figure>

          <figure class="col-xs-6 col-sm-12 col-md-12 text-center"><a href="student-clubs.html#astha"><img width="120px"
                height="120px" alt="astha" src="imgs/astha.png" /></a>
            <figcaption><a style="font-size: larger;" href="student-clubs.html#astha">Astha</a></figcaption>
          </figure>

          <figure class="col-xs-6 col-sm-12 col-md-12 text-center"><a href="student-clubs.html#shristi"><img
                width="120px" height="120px" alt="shristi" src="imgs/shristi.png" /></a>
            <figcaption><a style="font-size: larger;" href="student-clubs.html#shristi">Shristi</a></figcaption>
          </figure>

          <figure class="col-xs-6 col-sm-12 col-md-12 text-center"><a href="student-clubs.html#sae"><img width="120px"
                height="120px" alt="sae" src="imgs/sae.jpg" /></a>
            <figcaption><a style="font-size: larger;" href="student-clubs.html#sae">SAE</a></figcaption>
          </figure>

          <figure class="col-xs-6 col-sm-12 col-md-12 text-center"><a href="student-clubs.html#vajra"><img width="120px"
                height="120px" alt="vajra" src="imgs/vajra.png" /></a>
            <figcaption><a style="font-size: larger;" href="student-clubs.html#vajra">Vajra</a></figcaption>
          </figure>

          <figure class="col-xs-6 col-sm-12 col-md-12 text-center"><a href="student-clubs.html#natyasudha"><img
                width="120px" height="120px" alt="natyasudha" src="imgs/natyasudha.png" /></a>
            <figcaption><a style="font-size: larger;" href="student-clubs.html#natyasudha">Natyasudha</a></figcaption>
          </figure>

          <figure class="col-xs-6 col-sm-12 col-md-12 text-center"><a href="student-clubs.html#raagasudha"><img
                width="120px" height="120px" alt="raagasudha" src="imgs/raagasudha.png" /></a>
            <figcaption><a style="font-size: larger;" href="student-clubs.html#raagasudha">Raagasudha</a></figcaption>
          </figure>

          <figure class="col-xs-6 col-sm-12 col-md-12 text-center"><a href="student-clubs.html#nature-club"><img
                width="120px" height="120px" alt="nature-club" src="imgs/nature-club.png" /></a>
            <figcaption><a style="font-size: larger;" href="student-clubs.html#nature-club">Nature Club</a></figcaption>
          </figure>

          <figure class="col-xs-6 col-sm-12 col-md-12 text-center"><a href="student-clubs.html#nss"><img width="120px"
                height="120px" alt="nss" src="imgs/nss.png" /></a>
            <figcaption><a style="font-size: larger;" href="student-clubs.html#nss">N.S.S</a></figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>

  <!-- FOOTER SECTION -->
  <footer class="full-footer">
    <div class="container top-footer p-md-3 p-1">
      <div class="row">
        <div class="col-md-5 pl-4 pr-4 text-center">
          <img class="img-fluid" src="imgs/logo.png" alt="logo">
          <p>
            Amrita is one of India's premiere teaching and research institutions and has been ranked in the “Ivy League”
            of Indian Universities by the Ministry of Education, Government of India... <a href="#"><br>Read more...</a>
          </p>
          <a style="color:silver;" class="p-1" href="https://www.facebook.com/AmritaUniversity"><i
              class="fab fa-2x fa-facebook-square"></i></a>
          <a style="color: silver;" class="p-1" href="https://www.youtube.com/user/AmritaUniversity"><i
              class="fab fa-2x fa-youtube-square"></i></a>
          <a style="color: silver;" class="p-1" href="https://twitter.com/AMRITAedu"><i
              class="fab fa-2x fa-twitter-square"></i></a>
          <a style="color: silver;" class="p-1"
            href="https://www.linkedin.com/company/amrita-vishwa-vidyapeetham-official/"><i
              class="fab fa-linkedin fa-2x"></i></a>
          <a style="color: silver;" class="p-1" href="http://instagram.com/amrita_university"><i
              class="fab fa-2x fa-instagram"></i></a>
          <hr class="d-md-none">
        </div>

        <div class="col-md-3 pl-4 pr-4 text-center">

          <h3>Know Us More</h3>
          <a href="course.html">
            <h5>Course</h5>
          </a>
          <a href="admission.html">
            <h5>Admission</h5>
          </a>
          <a href="about.html">
            <h5>About Us </h5>
          </a>
          <a href="contact.html">
            <h5>Contact</h5>
          </a>
          <a href="event.html">
            <h5>Events</h5>
          </a>
          <a href="gallery.html">
            <h5>Gallery</h5>
          </a>
          <hr class="d-md-none">
        </div>

        <div class="col-md-4  pl-4 pr-4 text-center">
          <h3>Contact Us</h3>
          <a href="tel:+91 (422) 2685 000"><i class="fas fa-phone"></i> +91 (422) 2685 000</a><br>
          <a href="mailto:btech@amrita.edu"><i class="fas fa-envelope"></i> btech@amrita.edu </a><br>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3917.8015798388597!2d76.89843921475011!3d10.902679092235923!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba85c95d3e828eb%3A0x2785cb4510629029!2sAmrita%20Vishwa%20Vidyapeetham!5e0!3m2!1sen!2sin!4v1629991054542!5m2!1sen!2sin"
              frameborder="0"></iframe>
          </div>

        </div>
      </div>
    </div>
    <div class="container-fluid bottom-footer pt-2">
      <div class="row">
        <div class="col-12 text-center">
          <p>Copyrights © 2021 - All rights reserved</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- END OF FOOTER SECTION -->
  <script src="bootstrap/js/jquery-3.3.1.slim.min.js"></script>
  <script src="bootstrap/js/popper.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>


</body>

</html>