<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="fontawesome-free-5.15.4-web/css/all.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Contact - AMRITA VISHWA VIDYAPEETHAM</title>
</head>

<body>
    <!-- HEADER SECTION -->
    <header>
        <div class="p-1" id="topHeader">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <a class="p-1" href="tel:+91 (422) 2685 000"> <i class="fas fa-phone"></i> +91 (422) 2685 000
                        </a>
                        <a class="p-1" href="mailto:btech@amrita.edu"> <i class="fas fa-envelope"></i> btech@amrita.edu
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="bottomHeader">
            <div class="container-fluid" id="hdr">
                <nav class="navbar navbar-dark navbar-expand-md" style="background-color:#004d80;">
                    <a class="navbar-brand" href="default.html">
                        <img src="imgs/logo.png" width="250px" alt="logo">
                    </a>
                    <button data-toggle="collapse" data-target="#navbarToggler" type="button"
                        class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarToggler">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="default.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="course.html">Course</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="admission.html">Admission</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="about.html">About Us</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                                    role="button">More</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item active" href="contact.html">Contact</a>
                                    <a class="dropdown-item" href="event.html">Events</a>
                                    <a class="dropdown-item" href="gallery.html">Gallery</a>
                                </div>

                            </li>
                        </ul>
                    </div>
                </nav>

            </div>
        </div>

    </header>
    <!-- END OF HEADER SECTION -->


    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="default.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Contact</li>
        </ol>
    </nav>


    <!-- Page title -->

    <section class="pagetitle">
        <div class="container-fluid my-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 id="pt">
                        CONTACT US
                    </h2>
                </div>
            </div>
        </div>
    </section>



    

    <!-- BODY SECTION -->

    <section>
        <div class="container p-4 mb-4">
            <div class="row gx-5">
                
                <div class="col-12 text-center" style="top: ce;">
                    <div class="p-3 border shadow bg-light"
                        style="color: #004d80; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                        <div>
                            <img class="img-fluid" src="imgs/contact.jpg"  style="padding: 20px;" alt="">
                        </div>
                        <div>
                            <h4 class="card-title">Amrita Vishwa Vidyapeetham</h4>
                            <p class="card-text" style="font-size: large;">
                                Amritanagar<br />
                                Coimbatore - 641 112 Tamil Nadu, India<br />
                                <a href="tel:+91 (422) 2685 000"><i class="fas fa-phone"></i> +91 (422) 2685 000</a><br>
                                <a href="tel:+91-422-2686274"><i class="fas fa-fax"></i>&nbsp; +91-422-2686 274</a><br>
                                <a class="mailto" href="mailto:univhq@amrita.edu"><i class="fas fa-envelope"></i>
                                    univhq@amrita.edu</a>
                            </p>
                            <p style="font-size: large;" class="col-md-12">Controller of Examination : <a
                                    href="mailto:coe@amrita.edu">coe@amrita.edu</a></p>
                            </p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>

    <section class="subscribe p-2 pt-md-4 pb-md-4">
        <div class="row">
          <div class="col-12 text-center">
            <h3
              style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
              Want us to contact you in person?
            </h3>
            <div class="input-group p-3">
              <input required type="email" class="form-control" placeholder="Enter your email">
              <span class="input-group-btn">
                <button class="btn btn-theme" data-toggle="modal" data-target="#exampleModal"
                  type="submit">Send</button>
              </span>
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header" style="background-color: #ebebeb;">
                      <h5 class="modal-title" style="color:#004d80;" id="exampleModalLabel">Contact us</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body" style="color: #007bff;">
                      <h7>
                        Thank you for reaching out! Our resource person will contact you soon.
                      </h7>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


    <div class="container">
        <div class="row">
            <div class="col-12 text-center py-5">
                <h3
                    style="color: #004d80; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
                    How to reach us?
                </h3>
                <hr class="bodyhr">
                <div height="400px" itemscope="" itemtype="http://schema.org/Map"><iframe
                        style="border: 0; padding: 10px; margin: 10px;" height="400px" itemprop="mapType"
                        src="https://mapsengine.google.com/map/embed?mid=z-oZfqCkHA6I.kh5cqTH2GVWM"
                        width="99%"></iframe></div>
                <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15671.206324214776!2d76.900628!3d10.902679!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2785cb4510629029!2sAmrita%20Vishwa%20Vidyapeetham!5e0!3m2!1sen!2sin!4v1630520706116!5m2!1sen!2sin" width="1100" height="550" style="border: 0;" allowfullscreen="" loading="lazy"></iframe>     -->

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <p>Located near the border of Tamil Nadu and Kerala, about 2.5 km north of the Coimbatore-Palakkad
                    highway (NH 47), the campus is ensconced by the Western Ghats on its three sides. It is 16 kms from
                    Coimbatore City and 32 kms from Palakkad. <br /><br /><img alt=""
                        class="media-image img__fid__15794 img__view_mode__media_original attr__format__media_original"
                        height="280" src="imgs/amr_cbe.jpg"
                        style="float:right; border-radius: 5px; margin-left: 20px; padding: 10px;"
                        width="400" /><strong>By Air
                    </strong>: The closest airport is Coimbatore, located about 27 kilometers from the campus. Most
                    airlines operate flights to Coimbatore from all major cities in India. <br /><br /><strong>By
                        Bus</strong>: The nearest major bus terminals are at Gandhipuram (about 22 kms) and Ukkadam
                    (about 18 kms.). There are regular bus services from Gandhipuram (Bus Nos. 96, A3 and 3G) and
                    Ukkadam (Bus Nos. 96, 48, S2, 3G and A3). Alight at Ettimadai Piruvu Bus Stop (Amrita College) and
                    hire an auto rickshaw to the campus (3 kms). A3 bus will come upto the college Gate. The travel time
                    from Ukkadam to Ettimadai Piruvu is around 45 minutes.<br /><br />
                    Ettimadai is a request stop for all Kerala and Tamil Nadu State Transport buses from Kerala. Alight
                    at Ettimadai Piruvu Bus Stop (Amrita College) and hire an auto rickshaw to the campus (3 kms).
                    Travel time from Palakkad to Ettimadai Piruvu is around one hour.</p>

                <p><strong>By Train</strong>: Passenger trains are available from Coimbatore Railway Station and Palghat
                    Railway Station. Ettimadai Railway Station is only about 500 metres from the campus and one may
                    easily walk to campus upon alighting at the station.</p>

                <p><span style="line-height: 1.6;">Train schedules from Coimbatore Junction to Ettimadai and Palghat
                        Junction to Ettimadai are listed below.</span></p>

                <p>Coimbatore is a major railway junction on the Southern Railways and there are trains to Chennai,
                    Rameswaram, Madurai, Bengaluru, Mumbai, Kanyakumari, Kozhikode, Mettupalayam, Kochi and Delhi.</p>
                <br />
            </div>
        </div>

        <div class="row row-margin-bottom">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <tbody>
                            <tr>
                                <td class="rtecenter" colspan="3">
                                    <p><strong>TRAINS FROM COIMBATORE JUNCTION TO ETTIMADAI</strong></p>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>TRAIN #</strong></td>
                                <td><strong>TRAIN NAME</strong></td>
                                <td><strong>DEPARTURE FROM COIMBATORE</strong></td>
                            </tr>
                            <tr>
                                <td>56323</td>
                                <td>Coimbatore -&gt; Mangalore Central (Passenger)</td>
                                <td>07:40 hrs</td>
                            </tr>
                            <tr>
                                <td>66605</td>
                                <td>Coimbatore -&gt; Shoranur (MEMU)</td>
                                <td>09:45hrs (Except Sunday)</td>
                            </tr>
                            <tr>
                                <td>66609</td>
                                <td>Erode Junction -&gt; Palghat Junction (MEMU)</td>
                                <td>10:30 hrs (Except Thursday)</td>
                            </tr>
                            <tr>
                                <td>56651</td>
                                <td>Coimbatore -&gt; Kannur (Passenger)</td>
                                <td>14.10 hrs</td>
                            </tr>
                            <tr>
                                <td>56605</td>
                                <td>Coimbatore -&gt; Thrissur (Passenger)</td>
                                <td>16.40 hrs</td>
                            </tr>
                            <tr>
                                <td>66607</td>
                                <td>Coimbatore -&gt; Palghat Junction (MEMU)</td>
                                <td>18.10 hrs (Except Sunday)</td>
                            </tr>
                            <tr>
                                <td>56651</td>
                                <td>Tiruchirapalli Junction -&gt; Palghat Junction(Passenger)</td>
                                <td>18.30 hrs</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <p>The above timings are as available at the time of update. Please check with the official Indian
                    Railways timings for exact timings of departure and arrival.</p><br />

                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <tbody>
                            <tr>
                                <td class="rtecenter" colspan="3">
                                    <p><strong>TRAINS FROM PALGHAT JUNCTION TO ETTIMADAI</strong></p>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>TRAIN #</strong></td>
                                <td><strong>TRAIN NAME</strong></td>
                                <td><strong>DEPARTURE FROM PALGHAT JUNCTION</strong></td>
                            </tr>
                            <tr>
                                <td>56848</td>
                                <td>Palghat Junction -&gt; Tiruchirapalli Junction (Passenger)</td>
                                <td>06:45 hrs</td>
                            </tr>
                            <tr>
                                <td>66606</td>
                                <td>Palghat Junction -&gt; Coimbatore (Passenger)</td>
                                <td>07:33 hrs (Except Sunday)</td>
                            </tr>
                            <tr>
                                <td>56604</td>
                                <td>Shoranur -&gt; Coimbatore (Passenger)</td>
                                <td>09:10 hrs</td>
                            </tr>
                            <tr>
                                <td>56650</td>
                                <td>Kannur -&gt; Coimbatore. (Passenger)</td>
                                <td>11:35 hrs</td>
                            </tr>
                            <tr>
                                <td>66608</td>
                                <td>Palghat Junction -&gt; Erode Junction (MEMU)</td>
                                <td>14:45 hrs (Except Thursday)</td>
                            </tr>
                            <tr>
                                <td>66604</td>
                                <td>Shoranur -&gt; Coimbatore (MEMU)</td>
                                <td>15:55hrs (Except Sunday)</td>
                            </tr>
                            <tr>
                                <td>56324</td>
                                <td>Mangalore Central -&gt; Coimbatore (Fast Passenger)</td>
                                <td>18:00 hrs</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <p>The above timings are as available at the time of update. Please check with the official Indian
                    Railways timings for exact timings of departure and arrival.</p><br />
            </div>
        </div>
    </div>






    <!-- FOOTER SECTION -->
    <footer class="full-footer">
        <div class="container top-footer p-md-3 p-1">
            <div class="row">
                <div class="col-md-5 pl-4 pr-4 text-center">
                    <img class="img-fluid" src="imgs/logo.png" alt="logo">
                    <p>
                        Amrita is one of India's premiere teaching and research institutions and has been ranked in the
                        “Ivy League” of Indian Universities by the Ministry of Education, Government of India... <a
                            href="#"><br>Read more...</a>
                    </p>
                    <a style="color:silver;" class="p-1" href="https://www.facebook.com/AmritaUniversity"><i
                            class="fab fa-2x fa-facebook-square"></i></a>
                    <a style="color: silver;" class="p-1" href="https://www.youtube.com/user/AmritaUniversity"><i
                            class="fab fa-2x fa-youtube-square"></i></a>
                    <a style="color: silver;" class="p-1" href="https://twitter.com/AMRITAedu"><i
                            class="fab fa-2x fa-twitter-square"></i></a>
                    <a style="color: silver;" class="p-1"
                        href="https://www.linkedin.com/company/amrita-vishwa-vidyapeetham-official/"><i
                            class="fab fa-linkedin fa-2x"></i></a>
                    <a style="color: silver;" class="p-1" href="http://instagram.com/amrita_university"><i
                            class="fab fa-2x fa-instagram"></i></a>
                    <hr class="d-md-none">
                </div>

                <div class="col-md-3 px-4 text-center">

                    <h3>Know Us More</h3>
                    <a href="course.html">
                        <h5>Course</h5>
                    </a>
                    <a href="admission.html">
                        <h5>Admission</h5>
                    </a>
                    <a href="about.html">
                        <h5>About Us </h5>
                    </a>
                    <a href="contact.html">
                        <h5>Contact</h5>
                    </a>
                    <a href="event.html">
                        <h5>Events</h5>
                    </a>
                    <a href="gallery.html">
                        <h5>Gallery</h5>
                    </a>
                    <hr class="d-md-none">
                </div>

                <div class="col-md-4  px-4 text-center">
                    <h3>Contact Us</h3>
                    <a href="tel:+91 (422) 2685 000"><i class="fas fa-phone"></i> +91 (422) 2685 000</a><br>
                    <a href="mailto:btech@amrita.edu"><i class="fas fa-envelope"></i> btech@amrita.edu </a><br>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3917.8015798388597!2d76.89843921475011!3d10.902679092235923!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba85c95d3e828eb%3A0x2785cb4510629029!2sAmrita%20Vishwa%20Vidyapeetham!5e0!3m2!1sen!2sin!4v1629991054542!5m2!1sen!2sin"
                            frameborder="0"></iframe>
                    </div>

                </div>
            </div>
        </div>
        <div class="container-fluid bottom-footer pt-2">
            <div class="row">
                <div class="col-12 text-center">
                    <p>Copyrights © 2021 - All rights reserved</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- END OF FOOTER SECTION -->
    <script src="bootstrap/js/jquery-3.3.1.slim.min.js"></script>
    <script src="bootstrap/js/popper.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>


</body>

</html>