<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="fontawesome-free-5.15.4-web/css/all.css">
  <link rel="stylesheet" href="css/style.css">
  <title>AMRITA VISHWA VIDYAPEETHAM</title>
</head>

<body>
  <!-- HEADER SECTION -->
  <header>
    <div class="p-1" id="topHeader">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <a class="p-1" href="tel:+91 (422) 2685 000"> <i class="fas fa-phone"></i> +91 (422) 2685 000 </a>
            <a class="p-1" href="mailto:btech@amrita.edu"> <i class="fas fa-envelope"></i> btech@amrita.edu </a>
          </div>
        </div>
      </div>
    </div>
    <div id="bottomHeader">
      <div class="container-fluid" id="hdr">
        <nav class="navbar navbar-dark navbar-expand-md" style="background-color:#004d80;">
          <a class="navbar-brand" href="/">
            <img src="imgs/logo.png" width="250px" alt="logo">
          </a>
          <button data-toggle="collapse" data-target="#navbarToggler" type="button" class="navbar-toggler"><span
              class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/course">Course</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admission">Admission</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">More</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/contact">Contact</a>
                  <a class="dropdown-item" href="/event">Events</a>
                  <a class="dropdown-item" href="/gallery">Gallery</a>
                </div>

              </li>
            </ul>
          </div>
        </nav>

      </div>
    </div>

  </header>
  <!-- END OF HEADER SECTION -->

  <div id="marquee" class=" p-sm-2 p-xs-1">
    <marquee><i class="fa fa-star"></i>&nbsp; &nbsp;NAAC A++ Accreditation&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<i
        class="fa fa-star"></i>&nbsp; &nbsp;India’s top ranked University&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<i
        class="fa fa-star"></i>&nbsp; &nbsp;Top 80 Best Universitites in the world - only Indian University</marquee>
  </div>


  <!-- BODY SECTION -->
  <section id="carousel">
    <div id="carouselExampleIndicators" class="carousel slide carousel-fade p-sm-2 m-sm-2 p-xs-1 m-xs-1"
      data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="imgs/amrita_1.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="imgs/amrita-2.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="imgs/amrita-3.jpg" alt="Third slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="imgs/amrita-4.jpg" alt="Fourth slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="imgs/amrita-5.jpg" alt="Fifth slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>

  <!-- WHY CHOOSE US -->
  <section class="whyus">
    <div class="container-fluid px-2">
      <div class="row">
        <div class="col-12 text-center p-3">
          <h3
            style="color: #004d80; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
            Lots to choose from, yet why choose us?
          </h3>
        </div>

      </div>
      <hr class="bodyhr">

      <div class="row text-center py-3">
        <div class="col-sm-6 col-lg-4">
          <a class="navbar-brand" href="https://www.amrita.edu/academics" target="_blank">
            <img class="img-fluid py-2" src="imgs/img_1.png" alt="logo">
          </a>
          <h5>Best in Academics</h5>
          <p style="text-align: justify; color: #004d80; font-weight: 500;">We personify multi-disciplinary academic excellence through the
            exceptional quality of our education system that is modern and comprehensive, with special
            emphasis on core human values.
          </p>
        </div>
        <div class="col-sm-6 col-lg-4">
          <a class="navbar-brand" href="https://www.amrita.edu/rankings" target="_blank">
            <img class="img-fluid py-2" src="imgs/img_2.png" alt="logo">
          </a>
          <h5>Highest in Rankings</h5>
          <p style="text-align: justify; color: #004d80; font-weight: 500;">We are the youngest institution to be awarded with an 'A++' grade
            by the National Assessment and Accreditation Council (NAAC). 'A++' is the highest grade that
            can be awarded to the best-in-class institutions for higher learning.
          </p>
        </div>
        <div class="col-sm-6 col-lg-4 ">
          <a class="navbar-brand" href="https://www.amrita.edu/international" target="_blank">
            <img class="img-fluid py-2" src="imgs/img_3.png" alt="logo">
          </a>
          <h5>International Standards</h5>
          <p style="text-align: justify; color: #004d80; font-weight: 500;">We have been selected by the Indian Government as an Institution
            of Eminence to be
            developed into a world-class institution which would put India on the global education map.</p>
        </div>
        <div class="col-sm-6 col-lg-4 ">
          <a href="https://www.amrita.edu/research" class="navbar-brand" target="_blank">
            <img class="img-fluid py-2" src="imgs/img_4.png" alt="logo">
          </a>
          <h5>State-of-the-art Research</h5>
          <p style="text-align: justify; color: #004d80; font-weight: 500;">We have always given paramount importance to research. Amrita is
            a
            partner in various international bilateral governmental research programmes, producing State-of-the-art research work from time to time.
          </p>
        </div>
        <div class="col-sm-6 col-lg-4 ">
          <a href="https://www.amrita.edu/ahead/" class="navbar-brand" target="_blank">
            <img class="img-fluid py-2" src="imgs/img_5.png" alt="logo">
          </a>
          <h5>Online Degrees</h5>
          <p style="text-align: justify; color: #004d80; font-weight: 500;">Our AHEAD's Online Degree programmes focus on an all-rounded
            individualized learning to
            enhance one’s career while integrating our philosophy of ‘Education
            for Life and Education for Living’.
          </p>
        </div>
        <div class="col-sm-6 col-lg-4 ">
          <a href="https://www.amrita.edu/department/cir/placements" class="navbar-brand" target="_blank">
            <img class="img-fluid py-2" src="imgs/img_6.png" alt="logo">
          </a>
          <h5>Great Placements</h5>
          <p style="text-align: justify; color: #004d80; font-weight: 500;">Placements at Amrita have always been excellent. Be it
            Engineering or Arts and Science,
            students who are eligible and opt for placements have more than one job offer, on an average.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- SUBSCRIBE -->

  <section class="subscribe p-2 pt-md-4 pb-md-4">
    <div class="row">
      <div class="col-12 text-center">
        <h3
          style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
          Subscribe to our yearly magazine!!
        </h3>
        <div class="input-group p-3">
          <input required type="email" class="form-control" placeholder="Enter your email">
          <span class="input-group-btn">
            <button class="btn btn-theme" data-toggle="modal" data-target="#exampleModal"
              type="submit">Subscribe</button>
          </span>
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header" style="background-color: #ebebeb;">
                  <h5 class="modal-title" style="color:#004d80;" id="exampleModalLabel">Amritadhwani</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" style="color: #007bff;">
                  <h7>
                    Thank you for showing interest! Catch us with the latest updates!
                  </h7>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- VIDEOS -->
  <section>
    <div class="container-fluid px-2" style="padding: 10px;">
      <div class="row">
          <div class="col-12 text-center p-3">
              <video autoplay>
                  <source src="videos/amrita1.mp4" type="video/mp4">
              </video>
          </div>

      </div>
  </div>
  </section>

  <!-- BEST SERVICES -->
  <section>
    <div class="container-fluid" style="padding: 10px;">
      <div class="card-deck">
        <div class="col-sm-6 col-lg-3 text-center px-lg-2 py-lg-5 py-3 px-1">
          <div class="card shadow h-100">
            <img src="imgs/research.jpg" class="card-img-top" alt="Research">
            <div class="card-body">
              <h5 class="card-header">Research</h5>
              <p class="card-text text-left pt-3 pb-1">
                Amrita Vishwa Vidyapeetham is a world class, research intensive institution with national and
                international reputation as an educational institution providing higher education.
              </p>
            </div>
            <div class="card-footer">
              <a href="/research" class="btn btn-primary" style="background-color: #004d80;">Know more!</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 text-center px-lg-2 py-lg-5 py-3 px-1">
          <div class="card shadow h-100">
            <img src="imgs/amritadhwani.jpg" class="card-img-top" alt="Amritadhwani">
            <div class="card-body">
              <h5 class="card-header">Amritadhwani</h5>
              <p class="card-text text-left pt-3 pb-1">
                Amritadhwani is the annual college magazine of the campus. Amritadhwani brings a potpourri of creations
                in five different languages along with descriptions.
              </p>
            </div>
            <div class="card-footer">
              <a href="/amritadhwani" class="btn btn-primary" style="background-color: #004d80;">Know more!</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 text-center px-lg-2 py-lg-5 py-3 px-1">
          <div class="card shadow h-100">
            <img src="imgs/placement.jpg" class="card-img-top" alt="Placements">
            <div class="card-body">
              <h5 class="card-header">Placements</h5>
              <p class="card-text text-left pt-3 pb-1">
                CIR, Corporate and Industry Relations, one of the important centers of the campus, functions in
                coordination with the Directorate of CIR.
              </p>
            </div>
            <div class="card-footer">
              <a href="/placements" class="btn btn-primary" style="background-color: #004d80;">Know more!</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 text-center px-lg-2 py-lg-5 py-3 px-1">
          <div class="card shadow h-100">
            <img src="imgs/alumni.jpg" class="card-img-top" alt="Alumni">
            <div class="card-body">
              <h5 class="card-header">Alumni</h5>
              <p class="card-text text-left pt-3 pb-1">
                Amrita Alumni Association strives to create and promote a lifelong bond between alumni and students, and
                inspire them to care about the past, present and future of Amrita.
              </p>
            </div>
            <div class="card-footer">
              <a href="/alumni" class="btn btn-primary" style="background-color: #004d80;">Know more!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- FOOTER SECTION -->
  <footer class="full-footer">
    <div class="container top-footer p-md-3 p-1">
      <div class="row align-items-center">
        <div class="col-md-5 pt-3 pl-4 pr-4 text-center">
          <img class="img-fluid" src="imgs/logo.png" alt="logo">
          <p>
            Amrita is one of India's premiere teaching and research institutions and has been ranked in the “Ivy League”
            of Indian Universities by the Ministry of Education, Government of India... <a href="/about"><br>Read
              more...</a>
          </p>
          <a style="color:silver;" class="p-1" href="https://www.facebook.com/AmritaUniversity"><i
              class="fab fa-2x fa-facebook-square"></i></a>
          <a style="color: silver;" class="p-1" href="https://www.youtube.com/user/AmritaUniversity"><i
              class="fab fa-2x fa-youtube-square"></i></a>
          <a style="color: silver;" class="p-1" href="https://twitter.com/AMRITAedu"><i
              class="fab fa-2x fa-twitter-square"></i></a>
          <a style="color: silver;" class="p-1"
            href="https://www.linkedin.com/company/amrita-vishwa-vidyapeetham-official/"><i
              class="fab fa-linkedin fa-2x"></i></a>
          <a style="color: silver;" class="p-1" href="http://instagram.com/amrita_university"><i
              class="fab fa-2x fa-instagram"></i></a>
          <hr class="d-md-none">
        </div>

        <div class="col-md-3 px-4 text-center">

          <h3>Know Us More</h3>
          <a href="/course">
            <h5>Course</h5>
          </a>
          <a href="/admission">
            <h5>Admission</h5>
          </a>
          <a href="/about">
            <h5>About Us </h5>
          </a>
          <a href="/contact">
            <h5>Contact</h5>
          </a>
          <a href="/event">
            <h5>Events</h5>
          </a>
          <a href="/gallery">
            <h5>Gallery</h5>
          </a>
          <hr class="d-md-none">
        </div>

        <div class="col-md-4  px-4 text-center">
          <h3>Contact Us</h3>
          <a href="tel:+91 (422) 2685 000"><i class="fas fa-phone"></i> +91 (422) 2685 000</a><br>
          <a href="mailto:btech@amrita.edu"><i class="fas fa-envelope"></i> btech@amrita.edu </a><br>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3917.8015798388597!2d76.89843921475011!3d10.902679092235923!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba85c95d3e828eb%3A0x2785cb4510629029!2sAmrita%20Vishwa%20Vidyapeetham!5e0!3m2!1sen!2sin!4v1629991054542!5m2!1sen!2sin"
              frameborder="0"></iframe>
          </div>

        </div>
      </div>
    </div>
    <div class="container-fluid bottom-footer pt-2">
      <div class="row">
        <div class="col-12 text-center">
          <p>Copyrights © 2021 - All rights reserved</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- END OF FOOTER SECTION -->
  <script src="bootstrap/js/jquery-3.3.1.slim.min.js"></script>
  <script src="bootstrap/js/popper.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>


</body>

</html>