<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="fontawesome-free-5.15.4-web/css/all.css">
  <link rel="stylesheet" href="css/style.css">
  <title>About Us - AMRITA VISHWA VIDYAPEETHAM</title>
</head>

<body>
  <!-- HEADER SECTION -->
  <header>
    <div class="p-1" id="topHeader">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <a class="p-1" href="tel:+91 (422) 2685 000"> <i class="fas fa-phone"></i> +91 (422) 2685 000 </a>
            <a class="p-1" href="mailto:btech@amrita.edu"> <i class="fas fa-envelope"></i> btech@amrita.edu </a>
          </div>
        </div>
      </div>
    </div>
    <div id="bottomHeader">
      <div class="container-fluid" id="hdr">
        <nav class="navbar navbar-dark navbar-expand-md" style="background-color:#004d80;">
          <a class="navbar-brand" href="default.html">
            <img src="imgs/logo.png" width="250px" alt="logo">
          </a>
          <button data-toggle="collapse" data-target="#navbarToggler" type="button" class="navbar-toggler"><span
              class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="default.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="course.html">Course</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="admission.html">Admission</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="about.html">About Us</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">More</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="contact.html">Contact</a>
                  <a class="dropdown-item" href="event.html">Events</a>
                  <a class="dropdown-item" href="gallery.html">Gallery</a>
                </div>

              </li>
            </ul>
          </div>
        </nav>

      </div>
    </div>

  </header>
  <!-- END OF HEADER SECTION -->



  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="default.html">Home</a></li>
      <li class="breadcrumb-item"><a href="about.html">About Us</a></li>
      <li class="breadcrumb-item active" aria-current="page">Student Clubs</li>
    </ol>
  </nav>



  <!-- Page title -->

  <section class="pagetitle">
    <div class="container-fluid my-3">
      <div class="row">
        <div class="col-12 text-center">
          <h1 id="pt">
            STUDENT CLUBS AT THE CAMPUS
          </h1>
        </div>
      </div>
    </div>
  </section>


  <!-- BODY SECTION -->

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p><img style="margin-top: 20px;" alt="" class="img-fluid" src="imgs/student-clubs.JPG" width="100%" /></p><br>

        <p>With the objective to further overall development of students, participation in a wide range of
          extra-curricular, social and community development activities is encouraged.</p>

        <p>Associations for performing arts and culture, yoga club, literary association, science forum, nature club,
          mathematics forum, sports club etc help bring out the creative talents in students and promote team-spirit.
        </p>

        <p>There are several associations that provide students a platform to be engaged in humanitarian or
          environmental-related activities.</p>

          <hr class="my-5" class="bodyhr">

        <p>
        <h3 id="anantham">Anantham</h3><br>
        </p>

        <p>In keeping with the tradition of imparting quality education, teaching and research are the main areas of
          concentration of the department of mathematics. The department teaches mathematics to B.Tech, M.Tech, MS and
          Ph.D students belonging to various engineering streams. The department also conducts various events to enrich
          students with additional knowledge that can help them to handle problems with different perspectives.</p><br>

        <p><strong>OBJECTIVES</strong></p>

        <p>Mathematics Forum was established to create student curiosity in mathematics. The Forum helps students to
          appreciate the beauty and subtlety of mathematics and to learn about the origin and development of various
          fields in mathematics. Students also get opportunities to learn about recent developments which broadens and
          deepens their knowledge in the field.</p>

          <hr class="my-5" class="bodyhr">

        <h3 id="arya">Arya</h3><br>

        <p>Arya is a non-political, non-sectarian student forum which strives to promote: <img alt=""
          class="img-fluid" src="imgs/surroundings.jpg" style="float: right; padding: 15px;" /></p>

        <ul>
          <li>Indian Culture – the inspiring and universal aspects of India’s culture and heritage, particularly in the
            fields of science and technology</li>
          <li>Patriotism – a sense of devotion and commitment towards the welfare of the motherland</li>
          <li>Spirituality – Chancellor Amma’s profound message of life-infusing spirituality</li>
          <li>Service – empathy towards the suffering of fellow citizens and deprived sections of society<br />
          </li>
        </ul>
        <p>The forum functions under the supervision of the Chief Operating Officer, the Principal, and is guided by a
          faculty-in-charge. Student officers are chosen yearly to manage its activities.</p>

          <hr class="my-5" class="bodyhr">


        <h3 id="astha">Astha (Amrita Science and Technology Action Forum)</h3><br>

        <p>Astha is the grooming ground for Innovation and Entrepreneurship. Faculty members or students present their
          project ideas, inviting students and faculty who are interested to join the project, contribute and provide
          guidance.</p>

        <p>Club objectives are as follows:</p>
        <ul>
          <li>Identify and nurture the passion for enquiry and implementation of tasks through inspired teamwork</li>
          <li>Track ongoing developments in science and technology, conceive and execute projects enabling students to
            understand the intricacies of the subject and to find practical and viable implementations.<br />
          </li>
        </ul>

        <p>Other activities of the club include:–</p>

        <ul>
          <li>Organizing popular lectures/ talks by Amrita fraternity and guest speakers</li>
          <li>Organizing the screening of documentaries and video recordings of talks by eminent people from all over
            the world and initiating discussions on the subject</li>
          <li>Organizing outreach activities and Science &amp; Technology popularization activities in schools.
            Competitions to develop innovative demonstrations explaining science and technology oriented concepts are
            conducted</li>
          <li>Promoting interdisciplinary activities</li>
          <li>Organizing book exhibitions, seminars, workshops, talent searches and quizzes
          </li>
        </ul>
        
        <hr class="my-5" class="bodyhr">

        <h3 id="shristi">Shristi</h3><br><br>

        <p><img alt="" class="media-image img__fid__7855 img__view_mode__media_original attr__format__media_original"
            height="256" src="imgs/MNN_6090.JPG" style="float: left; margin-right: 15px;" width="432" />Shristi, the
          literary club of Amrita, came into being in the year 2004. The inaugural function was held on March 8, 2004
          and was presided over by Swami Abhayamrita Chaitanya. It established Srishti’s credibility with an
          entertaining selection of events. The bright academic year of 2009-2010 dawned upon the campus of amrita on
          the 15th of July and Srishti was back with élan within a month of the year's inception. The opening of the
          gates of the elite literary club of Amrita began with Yukti-09, the induction ceremony for the fresher’s, who
          were given a very warm welcome and treated to a good account of what Srishti has in store for them. There were
          numerous events put up to provide them with a glimpse of the avenues that Srishti makes available to its
          members. A multimedia presentation showcasing the various events conducted by Srishti over the years was
          projected and was greeted with a loud applause in the end. There was a literary quiz which saw an enthusiastic
          response from the audience. The icing on the cake was the play Tom Sawyer by Mark Twain enacted by the
          ensemble cast keeping in line with the mood of the evening. The results were very gratifying with the new
          comers to the campus flocking to enrol themselves in the club.</p>

        <p>One noticeable aspect of Srishti this year has been the off stage events, low profile but pulling huge crowds
          nevertheless. These events including the fortnightly crossties, talk the T way, book reviews and movie
          screenings have become a part of the Amrita folklore. These events helped Srishti to develop a grass root
          level network of literary enthusiasts.</p>

        <p>They came forward in large numbers to give life to such activities simply for the sheer pleasure of being a
          part of these events. Talk the T way- an attempt the reproduce the internationally famed Toastmaster's, gave a
          platform to the students to voice their opinions on various topics put up for discussion. Periodic book
          reviews brought together like-minded literary fans to analyse and share views on various books of their
          liking.</p>

        <p><img alt="" class="media-image img__fid__7857 img__view_mode__media_original attr__format__media_original"
            height="257" src="imgs/MNN_6441.JPG" style="float: right; margin-left: 15px;" width="432" />The main event
          of Srishti in the odd semester, Advaiya- a celebration of languages and display histrionic skills on stage,
          was held with the much associated fanfare. The event spread across five evenings was conducted in a novel way
          this year- as competitions with eminent members of the campus adjudging them, in the week of 20 to 24 of
          October.</p>

        <p>Each day was dedicated to one of the five languages of the campus-horizon (English), Harivillu (telugu),
          Sopanam (Malayalam),Saaral ( Tamil) and Srijan( Hindhi).Scripts were invited for plays and screened. The best
          three plays were enacted out on stage with judges announcing their verdict in favour of the best team of the
          day. Each day drew huge gatherings not only from the speakers of the language of the day, but also others who
          filled the hall to cheer their friends and also to have a taste of the richness of the other languages. Each
          day had a winner announced and were awarded cash prizes. The gala came to a fantastic end with the ceremony
          which was awaited with bated breath- prize distribution. Winners were ecstatic, others happy too but everyone
          went home happy-secure in the knowledge that they had given and witnessed some of the best dramatic talents in
          the campus. Thus the odd semester drew to a close.</p>

          <hr class="my-5" class="bodyhr">


        <h3 id="sae">SAE</h3><br>

        <p><strong>OUR VISION</strong><img alt=""
            class="media-image img__fid__7858 img__view_mode__media_large attr__format__media_large" height="256"
            src="imgs/amrita-students1.jpg" style="float: right; margin-left: 15px;" width="432" /></p>

        <ul>
          <li>To provide a state-of-the-art platform to put forth scientific ideas and inventions in every field of
            engineering, through a series of theoretical discussions and practical experiments to empower aspiring minds
            of a new generation of technologists with innovative ideas.<br />
          </li>
        </ul>
        

        <p><strong style="line-height: 1.6em;">OUR MISSION</strong></p>

        <ul>
          <li>Propel technical talents across international boundaries</li>
          <li>Explore new arenas of technological developments across the globe through e-learning and various exchange
            programs</li>
          <li>Shoulder the nation building task through advancement in defense engineering</li>
          <li>Device technology that will bring harmony between mankind and nature</li>
          <li>Play an active role in the development of the country as a whole and the world at large</li>
          <li>Ultimately, "To strive and reach the zenith of modern technology"<br />
          </li>
        </ul>

        <hr class="my-5" class="bodyhr">

        <h3 id="vajra">Vajra</h3><br>

        <p><img alt="" class="media-image img__fid__7859 img__view_mode__media_original attr__format__media_original"
            height="257" src="imgs/meditation.jpg" style="float: right; margin-left: 15px;" width="432" />"Vajra is a
          yoga group at Amrita Vishwa Vidyapeetham (Coimbatore) in which young minds get together to share ideas not
          only about yoga practices but about other aspects of life. It is a platform where one can explore yoga in all
          areas of life and cultivate and nurture ones interest in Yoga and reap priceless benefits out of the same.</p>

        <p>Run by students this club who are the members of the Vajra Governing Body Committee, the club lives up to its
          legend where Rishi Dadhichi offered his spine for the efforts of the Divine to overcome Ignorance; by
          involving students in organising programs and sessions of yoga or based on the concepts and spirit of yoga.
          The club thus nurtures the leadership qualities of the students.<br /><br />
          The most popular programs include Yoga sessions, Yoga Treks &amp; Trips, Yoga Competitions, Meditation &amp;
          Discussion Forums, Reach Out Programs, Quiz and Quotes Contests, Yoga Exhibitions and Music Festivals to name
          a few."</p>

        </ul>

        <hr class="my-5" class="bodyhr">

        <h3 id="natyasudha">Natyasudha (Dance Club)</h3><br>

        <p><strong>MISSION</strong></p>

        <ul>
          <li>To cultivate, develop and promote an awareness of classical and ethnic dance forms amongst the youth. To
            integrate and bring to the forefront the intricacies and creativities of various native oriental and fusion
            dance forms. To express divinity through our age-old art form called NRITYA.<br />
          </li>
        </ul>

        <hr class="my-5" class="bodyhr">

        <h3 id="raagasudha">Raagasudha (Music Club)</h3><br>

        <p>Musical evenings, organized from time to time by the music club of Amrita, are among the most anticipated
          events of the calendar year. From soulful lilting melodies to fast paced, foot-tapping numbers, all-inspiring
          music concerts are performed at these events What best describes the club is its intent - a place for musical
          expression where interested and talented students come together to share musical ideas and to immerse
          themselves in the divinity of music. The club aims at tapping the very essence of the nation’s rich musical
          heritage, while keeping modern interests and musical trends incorporated in the music played, thereby
          maintaining a fine balance between old and new, keeping events organized by the club both fresh as well as
          timeless. The club also aims at bringing out, in the process, the musical talents of the students of the
          institute, and at providing a worthy stage for the showcasing of the same.</p>

          <hr class="my-5" class="bodyhr">

        <h3 id="nature-club">Nature Club</h3><br>

        <p><img alt="campus-coimbatore-student-club-prakriti"
            class="media-image img__fid__14519 img__view_mode__media_original attr__format__media_original"
            src="imgs/campus-coimbatore-student-club-prakriti.jpg"
            style="width: 430px; height: 280px; float: right; margin-left: 15px;" />Amrita Prakriti Samrakshana Samiti
          (APSS) is a forum established in 1996 under Amrita Institutions, managed by Mata Amritanandamayi Math,
          Ettimadai, Coimbatore. Aims and objectives are as follows:</p>

        <ul>
          <li>Instilling love for plants, animals and all other forms of life</li>
          <li>Developing respect for the oneness of life in all elements of nature</li>
          <li>Preserving the pristine beauty and purity of nature</li>
          <li>Making the campus evergreen and eco-friendly</li>
          <li>Working toward uplifting nearby village people and cultivating awareness about nature care and protection
            of the environment</li>
          <li>Supporting governmental organizations voluntarily in all their activities concerned with nature and
            environment<br />
          </li>
        </ul>

        <hr class="my-5" class="bodyhr">

        <h3 id="nss">N. S. S. (National Service Scheme)</h3><br>

        <p>A seminar on Indian culture was organized by NSS on14.04.2006 in which more than 80 students participated and
          benefited from the speech delivered by the chief guest, Swami Abhayamirta Chaithanya. SS Advisory committee
          meeting was held on 16th June in our campus with the NSS coordinators of various colleges and Department of
          the state. More than 100 volunteers participated in the programme organized by Siruthuli(NGO) at Coimbatore in
          17.9.2006 to grab the public to protect river NOYYAL and its surroundings.</p>

        <p>A special camp was conducted on April,2006 at Akkaraipettai and Dhideer Kuppam of Nagapattinam, where the
          volunteers were involved in concrete work for houses and cleaning work along the road side.</p>

        <p>A Blood donation camp was organized by NSS and YRC in association with Coimbatore Medical Hospital, in which
          more than 103 units of blood was donated by students. Student extra-curricular activities at Amrita Vishwa
          Vidyapeetham (Bangalore Campus) are organized into five student clubs, which conduct various activities that
          go a long way in providing a wholesome environment for the development of body, mind, and intellect.</p>

        <p>A major goal of student activities is to promote awareness of India’s rich culture and to nurture a sense of
          belongingness to our heritage and values.</p><br />
      </div>
    </div>
  </div>

  <!-- FOOTER SECTION -->
  <footer class="full-footer">
    <div class="container top-footer p-md-3 p-1">
      <div class="row">
        <div class="col-md-5 pl-4 pr-4 text-center">
          <img class="img-fluid" src="imgs/logo.png" alt="logo">
          <p>
            Amrita is one of India's premiere teaching and research institutions and has been ranked in the “Ivy League”
            of Indian Universities by the Ministry of Education, Government of India... <a href="#"><br>Read more...</a>
          </p>
          <a style="color:silver;" class="p-1" href="https://www.facebook.com/AmritaUniversity"><i
              class="fab fa-2x fa-facebook-square"></i></a>
          <a style="color: silver;" class="p-1" href="https://www.youtube.com/user/AmritaUniversity"><i
              class="fab fa-2x fa-youtube-square"></i></a>
          <a style="color: silver;" class="p-1" href="https://twitter.com/AMRITAedu"><i
              class="fab fa-2x fa-twitter-square"></i></a>
          <a style="color: silver;" class="p-1"
            href="https://www.linkedin.com/company/amrita-vishwa-vidyapeetham-official/"><i
              class="fab fa-linkedin fa-2x"></i></a>
          <a style="color: silver;" class="p-1" href="http://instagram.com/amrita_university"><i
              class="fab fa-2x fa-instagram"></i></a>
          <hr class="d-md-none">
        </div>

        <div class="col-md-3 pl-4 pr-4 text-center">

          <h3>Know Us More</h3>
          <a href="course.html">
            <h5>Course</h5>
          </a>
          <a href="admission.html">
            <h5>Admission</h5>
          </a>
          <a href="about.html">
            <h5>About Us </h5>
          </a>
          <a href="contact.html">
            <h5>Contact</h5>
          </a>
          <a href="event.html">
            <h5>Events</h5>
          </a>
          <a href="gallery.html">
            <h5>Gallery</h5>
          </a>
          <hr class="d-md-none">
        </div>

        <div class="col-md-4  pl-4 pr-4 text-center">
          <h3>Contact Us</h3>
          <a href="tel:+91 (422) 2685 000"><i class="fas fa-phone"></i> +91 (422) 2685 000</a><br>
          <a href="mailto:btech@amrita.edu"><i class="fas fa-envelope"></i> btech@amrita.edu </a><br>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3917.8015798388597!2d76.89843921475011!3d10.902679092235923!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba85c95d3e828eb%3A0x2785cb4510629029!2sAmrita%20Vishwa%20Vidyapeetham!5e0!3m2!1sen!2sin!4v1629991054542!5m2!1sen!2sin"
              frameborder="0"></iframe>
          </div>

        </div>
      </div>
    </div>
    <div class="container-fluid bottom-footer pt-2">
      <div class="row">
        <div class="col-12 text-center">
          <p>Copyrights © 2021 - All rights reserved</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- END OF FOOTER SECTION -->
  <script src="bootstrap/js/jquery-3.3.1.slim.min.js"></script>
  <script src="bootstrap/js/popper.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>


</body>

</html>